body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #F9F9F9;
}

img {
    display: table-cell;
    vertical-align: middle;
}

.tab-list {
    overflow: hidden;
    background: inherit;
}

.tab-list button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 55px;
    /* min-width: 175px; */
}

.tab-list button:hover {
    background-color: #4e53c1;
    border-bottom: 2px solid #4e53c1;
    color: #fff;
}

.tab-list button.active {
    transition: border-bottom 0.25s ease-out 0s;
    background-color: #fff;
    border-bottom: 4px solid #fff;
    box-shadow: 0px 10px 8px 2px #00000011;
}

.tab-list button.active:hover {
    color: #4e53c1;
}

.underline {
    content: "";
    width: 100%;
    height: 33px;
    border-bottom: 2px solid #4e53c1;
}

.tab {
    display: none;
    padding: 6px 10px;
    background-color: #fff;
    box-shadow: 0px 2px 8px 2px #00000011;
}

/* mobile support */
@media only screen and (max-device-width: 480px) {
    #mobile { display: none; }
    .tab-list button {
        padding: 8px 14px;
    }
}